<div class="payment-details pl-10 mb-50" th:fragment="order-detail">
    <h6 class="widget-title border-left mb-20">our order</h6>
    <table>
        <tr>
            <td class="td-title-1">Dummy Product Name x 2</td>
            <td class="td-title-2">$1855.00</td>
        </tr>
        <tr>
            <td class="td-title-1">Dummy Product Name</td>
            <td class="td-title-2">$555.00</td>
        </tr>
        <tr>
            <td class="td-title-1">Cart Subtotal</td>
            <td class="td-title-2">$2410.00</td>
        </tr>
        <tr>
            <td class="td-title-1">Shipping and Handing</td>
            <td class="td-title-2">$15.00</td>
        </tr>
        <tr>
            <td class="td-title-1">Vat</td>
            <td class="td-title-2">$00.00</td>
        </tr>
        <tr>
            <td class="order-total">Order Total</td>
            <td class="order-total-price">$2425.00</td>
        </tr>
    </table>
</div>
