<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">

    <!-- Font -->
    <link rel="stylesheet" th:href="@{/admin/font/fonts.css}">

    <!-- Icon -->
    <link rel="stylesheet" th:href="@{/admin/icon/style.css}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/images/favicon.png}">

</head>

<body class="body">

<!-- #wrapper -->
<div id="wrapper">
    <!-- #page -->
    <div id="page" class="">
        <!-- layout-wrap -->
        <div class="layout-wrap">
            <!-- preload -->
            <div id="preload" class="preload-container">
                <div class="preloading">
                    <span></span>
                </div>
            </div>
            <!-- /preload -->
            <!-- section-menu-left -->
            <div th:replace="admin/fragments/menu-left.html"></div>
            <!-- /section-menu-left -->
            <!-- section-content-right -->
            <div class="section-content-right">
                <!-- header-dashboard -->
                <div th:replace="admin/fragments/header.html"></div>
                <!-- /header-dashboard -->
                <!-- main-content -->
                <div class="main-content">
                    <!-- main-content-wrap -->
                    <div class="main-content-inner">
                        <!-- main-content-wrap -->
                        <div class="main-content-wrap">
                            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                <h3>Add New User</h3>
                                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                    <li>
                                        <a href="index.html">
                                            <div class="text-tiny">Dashboard</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="text-tiny">User</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="text-tiny">Add New User</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- add-new-user -->
                            <form class="form-add-new-user form-style-2" action="/admin/add-user" method="post" th:object="${user}">
                                <div class="wg-box">
                                    <div class="left">
                                        <h5 class="mb-4">Account</h5>
                                        <div class="body-text">Fill in the information below to add a new account</div>
                                    </div>
                                    <div class="right flex-grow">
                                        <fieldset class="username mb-24" style="width: 49%;">
                                            <div class="body-title mb-10">Username <span class="tf-color-1">*</span></div>
                                            <input type="text" placeholder="Enter username" name="username"
                                                   tabindex="0" aria-required="true" required="" th:field="*{userName}">
                                        </fieldset>
                                        <div class="gap22 cols mb-24">
                                            <fieldset class="first-name">
                                                <div class="body-title mb-10">First Name <span class="tf-color-1">*</span></div>
                                                <input type="text" placeholder="First Name" name="firstName" required th:field="*{firstName}">
                                            </fieldset>
                                            <fieldset class="last-name">
                                                <div class="body-title mb-10">Last Name <span class="tf-color-1">*</span></div>
                                                <input type="text" placeholder="Last Name" name="lastName" required th:field="*{lastName}">
                                            </fieldset>
                                        </div>

                                        <div class="gap22 cols mb-24">
                                            <fieldset class="email">
                                                <div class="body-title mb-10">Email <span class="tf-color-1">*</span></div>
                                                <input type="email" placeholder="Email" name="email" required th:field="*{email}">
                                            </fieldset>
                                            <fieldset class="address">
                                                <div class="body-title mb-10">Address <span class="tf-color-1">*</span></div>
                                                <input type="text" placeholder="Address" name="address" required th:field="*{address}">
                                            </fieldset>
                                        </div>

                                        <div class="gap22 cols mb-24">
                                            <fieldset class="phone">
                                                <div class="body-title mb-10">Phone <span class="tf-color-1">*</span></div>
                                                <input type="text" placeholder="Phone" name="phone" required th:field="*{phone}">
                                            </fieldset>
                                            <fieldset class="role">
                                                <div class="body-title mb-10">Role <span class="tf-color-1">*</span></div>
                                                <div class="select">
                                                    <select name="role" required th:field="*{roleId}">
                                                        <option th:value="0">Choose role</option>
                                                        <option th:value="1">Admin</option>
                                                        <option th:value="2">User</option>
                                                    </select>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <fieldset class="password mb-24" style="width: 49%;">
                                            <div class="body-title mb-10">Password</div>
                                            <input class="password-input" type="password" placeholder="Enter password"
                                                   name="password" tabindex="0" value="" aria-required="true"
                                                   required="" th:field="*{password}">
                                            <span class="show-pass">
                                                    <i class="icon-eye view"></i>
                                                    <i class="icon-eye-off hide"></i>
                                                </span>
                                        </fieldset>
                                        <fieldset class="password" style="width: 49%;">
                                            <div class="body-title mb-10">Confirm password</div>
                                            <input class="password-input" type="password" placeholder="Confirm password"
                                                   name="password" tabindex="0" value="" aria-required="true"
                                                   required="" th:field="*{confirmPassword}">
                                            <span class="show-pass">
                                                    <i class="icon-eye view"></i>
                                                    <i class="icon-eye-off hide"></i>
                                                </span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="bot">
                                    <button class="tf-button w180" type="submit">Save</button>
                                </div>
                            </form>
                            <!-- /add-new-user -->
                        </div>
                        <!-- /main-content-wrap -->
                    </div>
                    <!-- /main-content-wrap -->
                    <!-- bottom-page -->
                    <div th:replace="admin/fragments/bottom.html"></div>
                    <!-- /bottom-page -->
                </div>
                <!-- /main-content -->
            </div>
            <!-- /section-content-right -->
        </div>
        <!-- /layout-wrap -->
    </div>
    <!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- Javascript -->
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/bootstrap-select.min.js}"></script>
<script th:src="@{/admin/js/zoom.js}"></script>
<script th:src="@{/admin/js/switcher.js}"></script>
<script th:src="@{/admin/js/theme-settings.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>

</body>
</html>