<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->


<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">


    <!-- Font -->
    <link rel="stylesheet" th:href="@{/admin/font/fonts.css}">

    <!-- Icon -->
    <link rel="stylesheet" th:href="@{/admin/icon/style.css}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/images/favicon.png}">

</head>

<body class="body">

<!-- #wrapper -->
<div id="wrapper">
    <!-- #page -->
    <div id="page" class="">
        <!-- layout-wrap -->
        <div class="layout-wrap">
            <!-- preload -->
            <div id="preload" class="preload-container">
                <div class="preloading">
                    <span></span>
                </div>
            </div>
            <!-- /preload -->
            <!-- section-menu-left -->
            <div th:replace="~{/admin/fragments/menu-left.html}"></div>
            <!-- /section-menu-left -->
            <!-- section-content-right -->
            <div class="section-content-right">
                <!-- header-dashboard -->
                <div th:replace="~{/admin/fragments/header.html}"></div>
                <!-- /header-dashboard -->
                <!-- main-content -->
                <div class="main-content">
                    <!-- main-content-wrap -->
                    <div class="main-content-inner">
                        <!-- main-content-wrap -->
                        <div class="main-content-wrap">
                            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                <h3>All User</h3>
                                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                    <li>
                                        <a href="index.html">
                                            <div class="text-tiny">Dashboard</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="text-tiny">User</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="text-tiny">All User</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- all-user -->
                            <div class="wg-box">
                                <div class="flex items-center justify-between gap10 flex-wrap">
                                    <div class="wg-filter flex-grow">
                                        <div class="show">
                                            <div class="text-tiny">Showing</div>
                                            <div class="select">
                                                <select onchange="changePageSize(this.value)">
                                                    <option th:selected="${size == 5}" value="5">5</option>
                                                    <option th:selected="${size == 10}" value="10">10</option>
                                                    <option th:selected="${size == 15}" value="15">15</option>
                                                </select>
                                            </div>
                                            <div class="text-tiny">entries</div>
                                        </div>
                                        <form class="form-search">
                                            <fieldset class="name">
                                                <input type="text" placeholder="Search here..." class="" name="name"
                                                       tabindex="2" value="" aria-required="true" required="">
                                            </fieldset>
                                            <div class="button-submit">
                                                <button class="" type="submit"><i class="icon-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <a class="tf-button style-1 w208" th:href="@{/admin/add-new-user}"><i class="icon-plus"></i>Add
                                        new</a>
                                </div>
                                <div class="wg-table table-all-user">
                                    <ul class="table-title flex gap20 mb-14">
                                        <li>
                                            <div class="body-title">User</div>
                                        </li>
                                        <li>
                                            <div class="body-title">Phone</div>
                                        </li>
                                        <li>
                                            <div class="body-title">Email</div>
                                        </li>
                                        <li>
                                            <div class="body-title">Address</div>
                                        </li>
                                        <li>
                                            <div class="body-title">Role</div>
                                        </li>
                                        <li>
                                            <div class="body-title">Action</div>
                                        </li>
                                    </ul>
                                    <ul class="flex flex-column">
                                        <li class="user-item gap14" th:each="user : ${users}">
                                            <div class="image">
                                                <img th:src="@{/admin/images/avatar/user-6.png}" alt="">
                                            </div>
                                            <div class="flex items-center justify-between gap20 flex-grow">
                                                <div class="name">
                                                    <a href="#" class="body-title-2" th:text="${user.lastName}+' '+${user.firstName}"></a>
                                                    <div class="text-tiny mt-3" th:text="${user.userName}"></div>
                                                </div>
                                                <div class="body-text" th:text="${user.phone}"></div>
                                                <div class="body-text" th:text="${user.email}"></div>
                                                <div class="body-text" th:text="${user.address}"></div>

                                                <div class="body-text" th:if="${user.roleId==1}">Admin</div>
                                                <div class="body-text" th:if="${user.roleId!=1}">User</div>
                                                <div class="list-icon-function">
                                                    <div class="item eye">
                                                        <i class="icon-eye"></i>
                                                    </div>
                                                    <a th:href="@{/admin/add-user/{id}(id=${user.userId})}" class="item edit" >
                                                        <i class="icon-edit-3"></i>
                                                    </a>
                                                    <div class="item trash">
                                                        <i class="icon-trash-2"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="divider"></div>
                                <div class="flex items-center justify-between flex-wrap gap10">
                                    <ul class="wg-pagination">
                                        <li th:classappend="${currentPage == 0} ? 'disabled'">
                                            <a th:href="@{'/admin/user-list'(page=${currentPage - 1}, size=${size})}"
                                               th:if="${currentPage > 0}"><i class="icon-chevron-left"></i></a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                            th:classappend="${i == currentPage} ? 'active'">
                                            <a th:href="@{'/admin/user-list'(page=${i}, size=${size})}" th:text="${i + 1}"></a>
                                        </li>
                                        <li th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                            <a th:href="@{'/admin/user-list'(page=${currentPage + 1}, size=${size})}"
                                               th:if="${currentPage + 1 < totalPages}"><i class="icon-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /all-user -->
                        </div>
                        <!-- /main-content-wrap -->
                    </div>
                    <!-- /main-content-wrap -->
                    <!-- bottom-page -->
                    <div th:replace="~{/admin/fragments/bottom.html}"></div>
                    <!-- /bottom-page -->
                </div>
                <!-- /main-content -->
            </div>
            <!-- /section-content-right -->
        </div>
        <!-- /layout-wrap -->
    </div>
    <!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- Javascript -->
<script>
    function changePageSize(size) {
        const url = new URL(window.location.href);
        url.searchParams.set("size", size); // Cập nhật số lượng sản phẩm mỗi trang
        url.searchParams.set("page", 0);    // Reset về trang đầu tiên
        window.location.href = url.toString();
    }
</script>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/bootstrap-select.min.js}"></script>
<script th:src="@{/admin/js/zoom.js}"></script>
<script th:src="@{/admin/js/switcher.js}"></script>
<script th:src="@{/admin/js/theme-settings.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>

</body>

</html>