<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">

    <!-- Font -->
    <link rel="stylesheet" th:href="@{/admin/font/fonts.css}">

    <!-- Icon -->
    <link rel="stylesheet" th:href="@{/admin/icon/style.css}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/images/favicon.png}">

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
           <div class="layout-wrap">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
               <div th:replace="~{admin/fragments/menu-left :: menu-left}"></div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div th:replace="~{admin/fragments/header::header}"></div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Order Detail</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#"><div class="text-tiny">Order</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#"><div class="text-tiny">Order detail</div></a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- order-detail -->
                                <div class="wg-order-detail">
                                    <div class="left flex-grow">
                                        <div class="wg-box mb-20">
                                            <div class="wg-table table-order-detail">
                                                <ul class="table-title flex items-center justify-between gap20 mb-24">
                                                    <li>
                                                        <div class="body-title">All item</div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown default">
                                                            <ul class="dropdown-menu">
                                                                <li><a href="javascript:void(0);">Name</a></li>
                                                                <li><a href="javascript:void(0);">Quantity</a></li>
                                                                <li><a href="javascript:void(0);">Price</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="flex flex-column">
                                                    <!-- Lặp qua danh sách sản phẩm trong đơn hàng -->
                                                    <li class="product-item gap14" th:each="item : ${orderDetail.orderDetails}">
                                                        <div class="image no-bg">
                                                            <img th:src="@{|/${item.productImage}}" alt="Product Image">
                                                        </div>
                                                        <div class="flex items-center justify-between gap40 flex-grow">
                                                            <div class="name">
                                                                <div class="text-tiny mb-1">Product name</div>
                                                                <a href="product-list.html" class="body-title-2" th:text="${item.productName}"></a>
                                                            </div>
                                                            <div class="name">
                                                                <div class="text-tiny mb-1">Quantity</div>
                                                                <div class="body-title-2" th:text="${item.quantity}"></div>
                                                            </div>
                                                            <div class="name">
                                                                <div class="text-tiny mb-1">Price x1</div>
                                                                <div class="body-title-2" th:text="${item.unitPrice}"></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="wg-box">
                                            <div class="wg-table table-cart-totals">
                                                <ul class="table-title flex mb-24">
                                                    <li><div class="body-title">Cart Totals</div></li>
                                                    <li><div class="body-title">Price</div></li>
                                                </ul>
                                                <ul class="flex flex-column gap14">
                                                    <li class="cart-totals-item">
                                                        <span class="body-text">Subtotal:</span>
                                                        <span class="body-title-2" th:text="${orderDetail.totalPrice}"></span>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li class="cart-totals-item">
                                                        <span class="body-text">Voucher:</span>
                                                        <span class="body-title-2" th:text="'-' + ${orderDetail.voucherDiscount}"></span>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li class="cart-totals-item">
                                                        <span class="body-title">Total price:</span>
                                                        <span class="body-title tf-color-1" th:text="${orderDetail.totalAfterDiscount}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="right">
                                        <div class="wg-box mb-20 gap10">
                                            <div class="body-title">Summary</div>
                                            <div class="summary-item">
                                                <div class="body-text">Name</div>
                                                <div class="body-title-2" th:text="${orderDetail.customerName}"></div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">Phone</div>
                                                <div class="body-title-2" th:text="${orderDetail.phone}"></div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">Date</div>
                                                <div class="body-title-2" th:text="${orderDetail.orderDate}"></div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">Shipping Address</div>
                                                <div class="body-title-2" th:text="${orderDetail.address}"></div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">Payment Method</div>
                                                <div class="body-title-2" th:text="${orderDetail.paymentMethod}"></div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">Total</div>
                                                <div class="body-title-2 tf-color-1" th:text="${orderDetail.totalAfterDiscount}"></div>
                                            </div>
                                        </div>

                                        <form action="/admin/orders/update-status" method="post">
                                            <input type="hidden" name="orderId" th:value="${orderDetail.getOrderId()}" />
                                            <div class="wg-box gap10">
                                                <div th:if="${message}" class="alert alert-success">
                                                    <p th:text="${message}"></p>
                                                </div>

                                                <div th:if="${error}" class="alert alert-danger">
                                                    <p th:text="${error}"></p>
                                                </div>

                                                <div class="body-title">Status</div>
                                                <div class="select">
                                                    <select name="status">
                                                        <option value="PENDING" th:selected="${orderDetail.orderStatus == 'PENDING'}">PENDING</option>
                                                        <option value="SHIPPING" th:selected="${orderDetail.orderStatus == 'SHIPPING'}">SHIPPING</option>
                                                        <option value="DELIVERED" th:selected="${orderDetail.orderStatus == 'DELIVERED'}">DELIVERED</option>
                                                        <option value="CANCELLED" th:selected="${orderDetail.orderStatus == 'CANCELLED'}">CANCELLED</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit">Update Status</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /order-detail -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->
                        <div th:replace="~{admin/fragments/bottom::bottom-page}"></div>
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/admin/js/zoom.js}"></script>
    <script th:src="@{/admin/js/switcher.js}"></script>
    <script th:src="@{/admin/js/theme-settings.js}"></script>
    <script th:src="@{/admin/js/main.js}"></script>

</body>

</html>