<div class="card mb-15" th:fragment="personal-inf">
    <div  class="card-header" id="headingOne">
        <h4 class="card-title">
            <a data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">My Personal
                Information</a>
        </h4>
    </div>
    <div  id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
        <div class="card-body">
            <form action="#">
                <div class="new-customers">
                    <div class="p-30">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="last Name">
                            </div>
                            <div class="col-sm-6">
                                <select class="custom-select">
                                    <option value="defalt">country</option>
                                    <option value="c-1">Australia</option>
                                    <option value="c-2">Bangladesh</option>
                                    <option value="c-3">Unitd States</option>
                                    <option value="c-4">Unitd Kingdom</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="custom-select">
                                    <option value="defalt">State</option>
                                    <option value="c-1">Melbourne</option>
                                    <option value="c-2">Dhaka</option>
                                    <option value="c-3">New York</option>
                                    <option value="c-4">London</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="custom-select">
                                    <option value="defalt">Town/City</option>
                                    <option value="c-1">Victoria</option>
                                    <option value="c-2">Chittagong</option>
                                    <option value="c-3">Boston</option>
                                    <option value="c-4">Cambridge</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Phone here...">
                            </div>
                        </div>
                        <input type="text" placeholder="Company neme here...">
                        <input type="text" placeholder="Email address here...">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm Password">
                        <textarea class="custom-textarea"
                                  placeholder="Additional information..."></textarea>
                        <div class="checkbox">
                            <label class="mr-10">
                                <small>
                                    <input type="checkbox" name="signup">I wish to subscribe to the
                                    69 Fashion newsletter.
                                </small>
                            </label>
                            <br>
                            <label>
                                <small>
                                    <input type="checkbox" name="signup">I have read and agree to
                                    the <a href="#">Privacy Policy</a>
                                </small>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="submit-btn-1 mt-20 btn-hover-1" type="submit"
                                        value="register">Save</button>
                            </div>
                            <div class="col-md-6">
                                <button class="submit-btn-1 mt-20 btn-hover-1 f-right"
                                        type="reset">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
