<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{web/fragments/head::head}"></head>

<body>

    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER AREA -->
        <header th:insert="~{web/fragments/header::header}"></header>
        <!-- END HEADER AREA -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">
        
            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 order-lg-2 order-1">
                            <!-- single-product-area start -->
                            <div class="single-product-area mb-80 product-item">
                                <div class="row">
                                    <!-- imgs-zoom-area start -->
                                    <div class="col-lg-5">
                                        <div class="imgs-zoom-area">
                                            <img id="zoom_03" th:src="@{|/${product.imagePath}|}" th:data-zoom-image="@{|/${product.imagePath}|}"
                                                 alt="">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                        <!-- Ảnh zoom-->
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/2.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/2.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/2.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/3.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/3.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/3.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/4.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/4.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/4.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/5.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/5.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/5.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/6.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/6.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/6.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="p-c">
                                                            <a href="#" th:data-image="@{/web/img/product/7.jpg}"
                                                               th:data-zoom-image="@{/web/img/product/7.jpg}">
                                                                <img class="zoom_03" th:src="@{/web/img/product/7.jpg}" alt="">
                                                            </a>
                                                        </div>
                                                        <!-- Ảnh zoom-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- imgs-zoom-area end -->
                                    <!-- single-product-info start -->
                                    <div class="col-lg-7">
                                        <div class="single-product-info">
                                            <h3 class="text-black-1" th:text="${product.name}"></h3>
                                            <h6 class="brand-name-2"  ></h6>
                                            <!--  hr -->
                                            <hr>
                                            <!-- single-pro-color-rating -->
                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left">OS: </p>
                                                    <div class="widget-color f-left ml-80" >
                                                        <p class="color-title f-left" th:text="${product.operatingSystem}"></p>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="rating" th:value="${product.rating}">
                                                <div class="pro-rating sin-pro-rating f-right"></div>
                                            </div>
                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left">Processor: </p>
                                                    <div class="widget-color f-left ml-80">
                                                        <p class="color-title" style="width: 300px; height: auto" th:text="${product.processor}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left">Camera: </p>
                                                    <div class="widget-color f-left ml-80">
                                                        <p class="color-title" style="width: 300px; height: auto" th:text="${product.camera}"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left" style="width: 150px">Battery capacity: </p>
                                                    <div class="widget-color f-left">
                                                        <p class="color-title" style="width: 250px; height: auto" th:text="${product.batteryCapacity}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left">Sim: </p>
                                                    <div class="widget-color f-left ml-80">
                                                        <p class="color-title" style="width: 300px; height: auto" th:text="${product.sim}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-pro-color-rating clearfix">
                                                <div class="sin-pro-color f-left">
                                                    <p class="color-title f-left" style="width: 150px" >Warranty Period: </p>
                                                    <div class="widget-color f-left">
                                                        <p class="color-title" style="width: 300px; height: auto" th:text="${product.warrantyPeriod}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- hr -->
                                            <hr>
                                            <!-- plus-minus-pro-action -->
                                            <div class="plus-minus-pro-action clearfix">
                                                <div th:if="${amountOfProduct != 0}" class="sin-plus-minus f-left clearfix">
                                                    <p class="color-title f-left">Quantity</p>
                                                    <div class="cart-plus-minus f-left" style="margin-left: 20px">
                                                            <!-- Form to decrease quantity -->
                                                            <form th:action="@{/user/carts/dec-cart}" method="post" style="display: inline;">
                                                                <input type="hidden" name="productId" th:value="${product.productId}"/>
                                                                <button type="submit" class="dec qtybutton">-</button>
                                                            </form>

                                                            <!-- Quantity input -->
                                                            <input type="number" class="cart-plus-minus-box" name="qtybutton" th:value="${amountOfProduct}" readonly />

                                                            <!-- Form to increase quantity -->
                                                            <form th:action="@{/user/carts/inc-cart}" method="post" style="display: inline;">
                                                                <input type="hidden" name="productId" th:value="${product.productId}" />
                                                                <button type="submit" class="inc qtybutton">+</button>
                                                            </form>
                                                    </div>
                                                </div>
                                                <div class="sin-pro-action f-right">
                                                    <ul class="action-button">
<!--                                                        <li>-->
<!--                                                            <a href="#" data-bs-toggle="modal" data-bs-target="#productModal"-->
<!--                                                               title="Quickview" tabindex="0"><i-->
<!--                                                                    class="zmdi zmdi-zoom-in"></i></a>-->
<!--                                                        </li>-->
                                                        <li style="margin-right: 150px">
                                                            <a th:href="@{/user/carts/add-cart(id=${product.productId},quantity=${1})}" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- plus-minus-pro-action end -->
                                            <!-- hr -->
                                            <hr>
                                            <!-- single-product-price -->
                                            <h3 class="pro-price">Price: <span th:text="${product.price}"></span></h3>
                                            <!--  hr -->
                                            <hr>
                                            <div>
                                                <a href="#" class="button extra-small button-black" tabindex="-1">
                                                    <span class="text-uppercase">Buy now</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-product-info end -->
                                </div>
                                <!-- single-product-tab -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- hr -->
                                        <hr>
                                        <div class="single-product-tab reviews-tab">
                                            <ul class="nav mb-20">
                                                <li><a class="active" href="#description" data-bs-toggle="tab">description</a></li>
                                                <li><a href="#reviews" data-bs-toggle="tab">reviews</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active show" id="description" th:text="${product.description}">
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="reviews">
                                                    <!-- reviews-tab-desc -->
                                                    <div class="reviews-tab-desc">
                                                        <!-- single comments -->
                                                        <div class="media mt-30">
                                                            <div class="media-left">
                                                                <a href="#"><img class="media-object" th:src="@{/web/img/author/1.jpg}"
                                                                                 alt="#"></a>
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="clearfix">
                                                                    <div class="name-commenter pull-left">
                                                                        <h6 class="media-heading"><a href="#">Gerald Barnes</a>
                                                                        </h6>
                                                                        <p class="mb-10">27 Jun, 2019 at 2:30pm</p>
                                                                    </div>
                                                                    <div class="pull-right">
                                                                        <ul class="reply-delate">
                                                                            <li><a href="#">Reply</a></li>
                                                                            <li>/</li>
                                                                            <li><a href="#">Delate</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit. Integer accumsan egestas .</p>
                                                            </div>
                                                        </div>
                                                        <!-- submit comments -->
                                                        <br>
                                                        <form th:action="@{/products/reviews(productId=${product.productId})}" method="post" th:object="${rating}">
                                                            <div>
                                                                <div>
                                                                    <div style="margin-left: 20px">
                                                                        <h5 class="title">Add a Review</h5>
                                                                        <p>Your email address will not be published. Required fields are marked *</p>
                                                                        <div class="rating-wrapper d-flex-center mb--40">
                                                                            Your Rating <span class="require">*</span>
                                                                        </div>
                                                                        <div class="rating-inner ml--20">
                                                                            <i class="zmdi zmdi-star-outline" id="st1" data-value="1"></i>
                                                                            <i class="zmdi zmdi-star-outline" id="st2" data-value="2"></i>
                                                                            <i class="zmdi zmdi-star-outline" id="st3" data-value="3"></i>
                                                                            <i class="zmdi zmdi-star-outline" id="st4" data-value="4"></i>
                                                                            <i class="zmdi zmdi-star-outline" id="st5" data-value="5"></i>
                                                                        </div>
                                                                    </div>
                                                                            <input type="hidden" name="ratingValue" id="ratingValue" th:field="*{star}"/>

                                                                            <textarea style="width: 580px; margin-left: 20px; margin-right: 30px"
                                                                                  class="height-50"
                                                                                  name="message"
                                                                                  placeholder="Your review here..." th:field="*{content}">
                                                                        </textarea>
                                                                        <button
                                                                                class="submit-btn-1 mt-20 btn-hover-1"
                                                                                type="submit">submit review
                                                                        </button>
                                                                    </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  hr -->
                                        <hr>
                                    </div>
                                </div>
                            </div>                            <!-- single-product-area end -->
                            <div class="related-product-area">
                                <div class="col-lg-12">
                                    <div class="section-title text-start mb-40">
                                        <h2 class="uppercase">related product</h2>
                                        <h6>There are many variations of passages of brands available,</h6>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5" th:each="product : ${products}">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a th:href="@{/products/{id}(id=${product.productId})}">
                                                    <img th:src="@{|/${product.imagePath}|}" alt="" style="width: 265px; height: 250px; object-fit: cover;" />
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a th:href="@{/products/{id}(id=${product.productId})}" th:text="${product.name}"></a>
                                                </h6>
                                                <input type="hidden" class="rating" th:value="${product.rating}">
                                                <input type="hidden" name="id" th:value="${product.productId}">
                                                <input type="hidden" class="rating" th:value="${product.rating}">
                                                <div class="pro-rating"></div>
                                                <input type="hidden" name="quantity" th:value="1">
                                                <ul class="action-button">
                                                    <!--                                                    <li>-->
                                                    <!--                                                        <a th:href="@{/products/quick-view/{id}(id=${product.productId})}" data-bs-toggle="modal"  data-bs-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>-->
                                                    <!--                                                    </li>-->
                                                    <li>
                                                        <a th:href="@{/user/carts/add-cart(id=${product.productId},quantity=${1})}" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        START SIDEBAR-->
                        <div class="col-lg-3">
                            <!-- Filter Form -->
                            <form action="/products" method="GET">
                                <!-- widget-search -->
                                <aside class="widget-search mb-30">
                                    <input type="text" name="name" placeholder="Search here..." th:value="${param.name}">
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                </aside>

                                <!-- widget-categories (Brands) -->
                                <aside class="widget widget-categories box-shadow mb-30">
                                    <h6 class="widget-title border-left mb-20">Brands</h6>
                                    <div id="cat-treeview-2" class="brand-title">
                                        <div th:each="brand : ${brands}">
                                            <label>
                                                <input type="radio" name="brandName" th:value="${brand.name}"
                                                       th:checked="${param.brandName != null ? #strings.equals(param.brandName, brand.name) : false}">
                                                <span th:text="${brand.name}"></span>
                                            </label><br>
                                        </div>
                                    </div>
                                </aside>

                                <!-- shop-filter (Price) -->
                                <!--                            <aside class="widget shop-filter box-shadow mb-30">-->
                                <!--                                <h6 class="widget-title border-left mb-20">Price</h6>-->
                                <!--                                <label for="minPrice">Min Price:</label>-->
                                <!--                                <input type="number" id="minPrice" name="minPrice" th:value="${param.minPrice}">-->
                                <!--                                <br>-->
                                <!--                                <label for="maxPrice">Max Price:</label>-->
                                <!--                                <input type="number" id="maxPrice" name="maxPrice" th:value="${param.maxPrice}">-->
                                <!--                            </aside>-->
                                <aside class="widget shop-filter box-shadow mb-30">
                                    <h6 class="widget-title border-left mb-20">Price</h6>
                                    <div class="price_filter">
                                        <div class="price_slider_amount">
                                            <input type="hidden" id="minPrice" name="minPrice"
                                                   th:value="${param.minPrice != null ? param.minPrice : 1000000}"/>
                                            <input type="hidden" id="maxPrice" name="maxPrice"
                                                   th:value="${param.maxPrice != null ? param.maxPrice : 50000000}"/>
                                            <input type="text" id="amount" readonly/>
                                        </div>
                                        <div id="slider-range"></div>
                                    </div>
                                </aside>

                                <!-- Operating System -->
                                <aside class="widget operating-system box-shadow mb-30">
                                    <h6 class="widget-title border-left mb-20">Operating System</h6>
                                    <div>
                                        <label><input type="radio" name="operatingSystem" value="iOS"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'iOS') : false}">
                                            iOS</label><br>
                                        <label><input type="radio" name="operatingSystem" value="MIUI"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'MIUI') : false}">
                                            MIUI</label><br>
                                        <label><input type="radio" name="operatingSystem" value="ColorOS"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'ColorOS') : false}">
                                            ColorOS</label><br>
                                        <label><input type="radio" name="operatingSystem" value="Funtouch OS"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'Funtouch OS') : false}">
                                            Funtouch OS</label><br>
                                        <label><input type="radio" name="operatingSystem" value="Realme UI"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'Realme UI') : false}">
                                            Realme UI</label><br>
                                        <label><input type="radio" name="operatingSystem" value="HarmonyOS"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'HarmonyOS') : false}">
                                            HarmonyOS</label><br>
                                        <label><input type="radio" name="operatingSystem" value="EMUI"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'EMUI') : false}">
                                            EMUI</label><br>
                                        <label><input type="radio" name="operatingSystem" value="Android"
                                                      th:checked="${param.operatingSystem != null ? #strings.equals(param.operatingSystem, 'Android') : false}">
                                            Android</label><br>
                                    </div>
                                </aside>

                                <!-- SIM -->
                                <aside class="widget operating-system box-shadow mb-30">
                                    <h6 class="widget-title border-left mb-20">Sim</h6>
                                    <div>
                                        <label><input type="radio" name="sim" value="Nano SIM"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'Nano SIM') : false}">
                                            Nano SIM</label><br>
                                        <label><input type="radio" name="sim" value="Micro SIM"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'Micro SIM') : false}">
                                            Micro SIM</label><br>
                                        <label><input type="radio" name="sim" value="Mini SIM (Standard SIM)"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'Mini SIM (Standard SIM)') : false}">
                                            Mini SIM (Standard SIM)</label><br>
                                        <label><input type="radio" name="sim" value="eSIM"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'eSIM') : false}">
                                            eSIM</label><br>
                                        <label><input type="radio" name="sim" value="Dual SIM"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'Dual SIM') : false}">
                                            Dual SIM</label><br>
                                        <label><input type="radio" name="sim" value="Hybrid SIM"
                                                      th:checked="${param.sim != null ? #strings.equals(param.sim, 'Hybrid SIM') : false}">
                                            Hybrid SIM</label><br>
                                    </div>
                                </aside>


                                <!-- Connectivity -->
                                <aside class="widget operating-system box-shadow mb-30">
                                    <h6 class="widget-title border-left mb-20">Connectivity</h6>
                                    <div>
                                        <label><input type="radio" name="connectivity" value="WiFi"
                                                      th:checked="${param.connectivity != null ? #strings.equals(param.connectivity, 'WiFi') : false}">
                                            WiFi</label><br>
                                        <label><input type="radio" name="connectivity" value="Bluetooth"
                                                      th:checked="${param.connectivity != null ? #strings.equals(param.connectivity, 'Bluetooth') : false}">
                                            Bluetooth</label><br>
                                        <label><input type="radio" name="connectivity" value="5G"
                                                      th:checked="${param.connectivity != null ? #strings.equals(param.connectivity, '5G') : false}">
                                            5G</label><br>
                                        <label><input type="radio" name="connectivity" value="4G LTE"
                                                      th:checked="${param.connectivity != null ? #strings.equals(param.connectivity, '4G LTE') : false}">
                                            4G LTE</label><br>
                                        <label><input type="radio" name="connectivity" value="NFC"
                                                      th:checked="${param.connectivity != null ? #strings.equals(param.connectivity, 'NFC') : false}">
                                            NFC</label><br>
                                    </div>
                                </aside>

                                <!-- Clear Button -->
                                <a href="/products" class="btn btn-secondary">Clear</a>
                            </form>
                        </div>
<!--                        END SIDEBAR-->
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->
        
        </section>
        <!-- End page content -->
    
        <!-- START FOOTER AREA -->
        <div th:replace="~{web/fragments/footer::footer}"></div>
        <!-- END FOOTER AREA -->

        <!-- START QUICKVIEW PRODUCT -->
<!--        <div th:replace="~{web/product/quickviewProduct::quickview}"></div>-->
        <!-- END QUICKVIEW PRODUCT --> 

    </div>
    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
<!--    Cập nhật số sao đánh giá-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Chỉ lấy một sản phẩm (giả sử đây là sản phẩm đầu tiên hoặc duy nhất)
            const product = document.querySelector(".product-item");

            if (product) {
                // Lấy giá trị rating từ input ẩn
                const ratingInput = product.querySelector(".rating");
                if (ratingInput) {
                    const rating = parseFloat(ratingInput.value);
                    console.log("Rating:", rating); // Kiểm tra giá trị rating trong console
                    const ratingContainer = product.querySelector(".pro-rating");

                    // Xóa nội dung trong `pro-rating` nếu có
                    ratingContainer.innerHTML = '';

                    // Tạo các icon sao dựa trên giá trị rating
                    for (let i = 1; i <= 5; i++) {
                        const star = document.createElement("a");
                        star.href = "#";

                        if (i <= Math.floor(rating)) {
                            star.innerHTML = '<i class="zmdi zmdi-star"></i>'; // Sao đầy
                        } else if (i === Math.ceil(rating) && rating % 1 !== 0) {
                            star.innerHTML = '<i class="zmdi zmdi-star-half"></i>'; // Sao nửa
                        } else {
                            star.innerHTML = '<i class="zmdi zmdi-star-outline"></i>'; // Sao rỗng
                        }

                        // Thêm sao vào container
                        ratingContainer.appendChild(star);
                    }
                }
            }
        });
    </script>

<!--    Cập nhật số lượng khi thêm vào giỏ-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.add-to-cart-link').forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

                    const productId = link.getAttribute('data-id');
                    const quantity = document.getElementById('quantity-input').value;

                    // Tạo URL mới với tham số quantity
                    const url = `/user/carts/add-cart?id=${productId}&quantity=${quantity}`;

                    // Chuyển hướng người dùng đến URL
                    window.location.href = url;
                });
            });
        });
    </script>

<!--    Cập nhật số sao đánh giá trong related product-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lấy tất cả các phần tử sản phẩm
            const products = document.querySelectorAll(".product-item");

            products.forEach(product => {
                // Lấy giá trị rating từ input ẩn
                const ratingInput = product.querySelector(".rating");
                if (ratingInput) {
                    const rating = parseFloat(ratingInput.value);
                    console.log("Rating:", rating); // Kiểm tra giá trị rating trong console
                    const ratingContainer = product.querySelector(".pro-rating");

                    // Xóa nội dung trong `pro-rating` nếu có
                    ratingContainer.innerHTML = '';

                    // Tạo các icon sao dựa trên giá trị rating
                    for (let i = 1; i <= 5; i++) {
                        const star = document.createElement("a");
                        star.href = "#";

                        if (i <= Math.floor(rating)) {
                            star.innerHTML = '<i class="zmdi zmdi-star"></i>'; // Sao đầy
                        } else if (i === Math.ceil(rating) && rating % 1 !== 0) {
                            star.innerHTML = '<i class="zmdi zmdi-star-half"></i>'; // Sao nửa
                        } else {
                            star.innerHTML = '<i class="zmdi zmdi-star-outline"></i>'; // Sao rỗng
                        }

                        // Thêm sao vào container
                        ratingContainer.appendChild(star);
                    }
                }
            });
        });
    </script>

    <!--Tạo số sao-->
    <script>
        // Lấy tất cả các ngôi sao
        const stars = document.querySelectorAll('.rating-inner .zmdi-star-outline');
        const ratingValue = document.getElementById('ratingValue');

        stars.forEach(star => {
            star.addEventListener('click', function () {
                // Lấy giá trị sao của ngôi sao được click
                const rating = parseInt(this.getAttribute('data-value'));

                // Đặt trạng thái "đầy" cho các ngôi sao từ 1 đến rating
                stars.forEach((s, index) => {
                    if (index < rating) {
                        s.classList.remove('zmdi-star-outline');
                        s.classList.add('zmdi-star'); // Sao đầy
                    } else {
                        s.classList.remove('zmdi-star');
                        s.classList.add('zmdi-star-outline'); // Sao rỗng
                    }
                });

                // Cập nhật giá trị rating vào input hidden
                ratingValue.value = rating;
            });
        });
    </script>


    <!--End Tạo số sao-->
    <div th:replace="~{web/fragments/script::script}"></div>

</body>

</html>