<div class="tab-content" th:fragment="category-view">
    <!-- list-view -->
    <div id="list-view" class="tab-pane active show" role="tabpanel">
        <div class="row">
            <div th:each="category : ${categories}">
                <!-- category-item start -->
                <div class="col-lg-12">
                    <div th:replace="~{web/categories/category-item-list-view::category-item-list-view(category=${category})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>