<div class="dropdown f-left" th:fragment="os">
    <button class="option-btn">
        Tags
        <i class="zmdi zmdi-chevron-down"></i>
    </button>
    <div class="dropdown-menu dropdown-width mt-30">
        <aside class="widget widget-tags box-shadow">
            <h6 class="widget-title border-left mb-20">Tags</h6>
            <ul class="widget-tags-list">
                <li><a href="#">Bleckgerry ios</a></li>
                <li><a href="#">Symban</a></li>
                <li><a href="#">IOS</a></li>
                <li><a href="#">Bleckgerry</a></li>
                <li><a href="#">Windows Phone</a></li>
                <li><a href="#">Windows Phone</a></li>
                <li><a href="#">Androids</a></li>
            </ul>
        </aside>
    </div>
</div>
