<div class="product-item" th:fragment="product-item">
    <div class="product-img">
        <!--                                Duong dan toi single-product-->
        <a href="single-product.html">
            <img th:src="@{/web/img/product/1.jpg}" alt=""/>
        </a>
    </div>
    <div class="product-info">
        <h6 class="product-title">
            <a href="single-product.html">Product Name</a>
        </h6>
        <div class="pro-rating">
            <a href="#"><i class="zmdi zmdi-star"></i></a>
            <a href="#"><i class="zmdi zmdi-star"></i></a>
            <a href="#"><i class="zmdi zmdi-star"></i></a>
            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
        </div>
        <h3 class="pro-price">$ 869.00</h3>
        <ul class="action-button">
            <li>
                <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal"  data-bs-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
            </li>
            <li>
                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
            </li>
            <li>
                <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
            </li>
        </ul>
    </div>
</div>
