<div class="shop-option box-shadow mb-30 clearfix" th:fragment="product-option">
    <!-- Nav tabs -->
    <ul class="nav shop-tab f-left" role="tablist">
        <li>
            <a class="active" href="#grid-view" data-bs-toggle="tab"><i
                    class="zmdi zmdi-view-module"></i></a>
        </li>
        <li>
            <a href="#list-view" data-bs-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
        </li>
    </ul>
    <!-- short-by -->
    <div class="short-by f-left text-center">
        <span>Sort by :</span>
        <select>
            <option value="volvo">Newest items</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <!-- showing -->
    <div class="showing f-right text-end">
        <span>Showing : 01-09 of 17.</span>
    </div>
</div>