<div class="dropdown f-left" th:fragment="recent-product">
    <button class="option-btn">
        Recent Post
        <i class="zmdi zmdi-chevron-down"></i>
    </button>
    <div class="dropdown-menu dropdown-width mt-30">
        <aside class="widget widget-product box-shadow">
            <h6 class="widget-title border-left mb-20">recent products</h6>
            <!-- product-item start -->
            <div class="product-item">
                <div class="product-img">
                    <a href="single-product.html">
                        <img th:src="@{/web/img/cart/4.jpg}" alt="" />
                    </a>
                </div>
                <div class="product-info">
                    <h6 class="product-title multi-line mt-10">
                        <a href="single-product.html">Dummy Blog Name</a>
                    </h6>
                </div>
            </div>
            <!-- product-item end -->
        </aside>
    </div>
</div>
