<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Subas || Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.png">

    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" th:href="@{/web/lib/css/nivo-slider.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/web/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/web/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/web/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/web/css/custom.css}">

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" th:href="@{/web/css/style-customizer.css}">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script th:src="@{/web/js/vendor/modernizr-3.11.2.min.js}"></script>
</head>