<!-- blog-item start -->
<div class="col-md-6" th:fragment="blog-item">
    <div class="blog-item-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-image">
                    <a href="single-blog.html"><img th:src="@{/web/img/blog/4.jpg}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blog-desc">
                    <h5 class="blog-title-2"><a href="#">dummy Blog name</a></h5>
                    <p>There are many variations of passages of in psum available, but the
                        majority have sufe ered on in some form...</p>
                    <div class="read-more">
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-item end -->