<div class="col-md-6" th:fragment="purchaser-inf">
    <div class="billing-details pr-10">
        <h6 class="widget-title border-left mb-20">billing details</h6>
        <input type="text"  placeholder="Your Name Here...">
        <input type="text"  placeholder="Email address here...">
        <input type="text"  placeholder="Phone here...">
        <input type="text"  placeholder="Company neme here...">
        <select class="custom-select">
            <option value="defalt">country</option>
            <option value="c-1">Australia</option>
            <option value="c-2">Bangladesh</option>
            <option value="c-3">Unitd States</option>
            <option value="c-4">Unitd Kingdom</option>
        </select>
        <select class="custom-select">
            <option value="defalt">State</option>
            <option value="c-1">Melbourne</option>
            <option value="c-2">Dhaka</option>
            <option value="c-3">New York</option>
            <option value="c-4">London</option>
        </select>
        <select class="custom-select">
            <option value="defalt">Town/City</option>
            <option value="c-1">Victoria</option>
            <option value="c-2">Chittagong</option>
            <option value="c-3">Boston</option>
            <option value="c-4">Cambridge</option>
        </select>
        <textarea class="custom-textarea" placeholder="Your address here..."></textarea>
    </div>
</div>
