<div class="table-content table-responsive mb-50" th:fragment="shopping-cart">
    <table class="text-center">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">product</th>
                        <th class="product-price">price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">total</th>
                        <th class="product-remove">remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- tr -->
                    <tr>
                        <td class="product-thumbnail">
                            <div class="pro-thumbnail-img">
                                <img th:src="@{/web/img/cart/1.jpg}" alt="">
                            </div>
                            <div class="pro-thumbnail-info text-start">
                                <h6 class="product-title-2">
                                    <a href="#">dummy product name</a>
                                </h6>
                                <p>Brand: Brand Name</p>
                                <p>Model: Grand s2</p>
                                <p> Color: Black, White</p>
                            </div>
                        </td>
                        <td class="product-price">$560.00</td>
                        <td class="product-quantity">
                            <div class="cart-plus-minus f-left">
                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                            </div>
                        </td>
                        <td class="product-subtotal">$1020.00</td>
                        <td class="product-remove">
                            <a href="#"><i class="zmdi zmdi-close"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
</div>


