<div class="col-lg-2" th:fragment="shopping-section">
    <ul class="nav cart-tab">
        <li>
            <a class="active" href="#shopping-cart" data-bs-toggle="tab">
                <span>01</span>
                Shopping cart
            </a>
        </li>
        <li>
            <a href="#checkout" data-bs-toggle="tab">
                <span>02</span>
                Checkout
            </a>
        </li>
        <li>
            <a href="#order-complete" data-bs-toggle="tab">
                <span>03</span>
                Order complete
            </a>
        </li>
    </ul>
</div>
