<div class="col-md-12" th:fragment="total">
    <div class="payment-details box-shadow p-30">
        <h6 class="widget-title border-left mb-20">payment details</h6>
        <table>
            <tr>
                <td class="td-title-1">Cart Subtotal</td>
                <td class="td-title-2">$155.00</td>
            </tr>
            <tr>
                <td class="td-title-1">Shipping and Handing</td>
                <td class="td-title-2">$15.00</td>
            </tr>
            <tr>
                <td class="td-title-1">Vat</td>
                <td class="td-title-2">$00.00</td>
            </tr>
            <tr>
                <td class="order-total">Order Total</td>
                <td class="order-total-price">$170.00</td>
            </tr>
        </table>
    </div>
</div>
