<div class="section-menu-left" th:fragment="menu-left">
  <div class="box-logo">
    <a th:href="@{/admin/home}" id="site-logo-inner">
      <img class="" id="logo_header" alt="" th:src="@{/admin/images/logo/logo.png}" data-light="images/logo/logo.png" data-dark="images/logo/logo-dark.png" >
    </a>
    <div class="button-show-hide">
      <i class="icon-menu-left"></i>
    </div>
  </div>
  <div class="section-menu-left-wrap">
    <div class="center">
      <div class="center-item">
        <div class="center-heading">Main Home</div>
        <ul class="menu-list">
          <li class="menu-item has-children active">
            <a href="javascript:void(0);" class="menu-item-button">
              <div class="icon"><i class="icon-grid"></i></div>
              <div class="text">Dashboard</div>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li class="sub-menu-item">
                <a th:href="@{/admin/home}" class="active">
                  <div class="text">Home</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="center-item">
        <div class="center-heading">All page</div>
        <ul class="menu-list">
          <li class="menu-item has-children">
            <a href="javascript:void(0);" class="menu-item-button">
              <div class="icon"><i class="icon-shopping-cart"></i></div>
              <div class="text">Ecommerce</div>
            </a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a th:href="@{/admin/add-product}" class="">
                  <div class="text">Add Product</div>
                </a>
              </li>
              <li class="sub-menu-item">
                <a th:href="@{/admin/product-list}" class="">
                  <div class="text">Product List</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item has-children">
            <a href="javascript:void(0);" class="menu-item-button">
              <div class="icon"><i class="icon-layers"></i></div>
              <div class="text">Brand</div>
            </a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a th:href="@{/admin/brands}" class="">
                  <div class="text">Brand list</div>
                </a>
              </li>
              <li class="sub-menu-item">
                <a th:href="@{/admin/add-brand}" class="">
                  <div class="text">New brand</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item has-children">
            <a href="javascript:void(0);" class="menu-item-button">
              <div class="icon"><i class="icon-file-plus"></i></div>
              <div class="text">Order</div>
            </a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a th:href="@{/admin/order-list}" class="">
                  <div class="text">Order list</div>
                </a>
              </li>
              <li class="sub-menu-item">
                <a th:href="@{/admin/order-detail}" class="">
                  <div class="text">Order detail</div>
                </a>
              </li>
              <li class="sub-menu-item">
                <a href="oder-tracking.html" class="">
                  <div class="text">Order tracking</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item has-children">
            <a href="javascript:void(0);" class="menu-item-button">
              <div class="icon"><i class="icon-user"></i></div>
              <div class="text">User</div>
            </a>
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a th:href="@{/admin/user-list}" class="">
                  <div class="text">All user</div>
                </a>
              </li>
              <li class="sub-menu-item">
                <a th:href="@{/admin/add-new-user}" class="">
                  <div class="text">Add new user</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="gallery.html" class="">
              <div class="icon"><i class="icon-image"></i></div>
              <div class="text">Gallery</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="report.html" class="">
              <div class="icon"><i class="icon-pie-chart"></i></div>
              <div class="text">Report</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="center-item">
        <div class="center-heading">Connect us</div>
        <ul class="wg-social">
          <li>
            <a href="#"><i class="icon-facebook"></i></a>
          </li>
          <li class="active">
            <a href="#"><i class="icon-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="icon-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="icon-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bot text-center">
      <div class="wrap">
        <div class="mb-20">
          <img th:src="@{/admin/images/menu-left/img-bot.png}" alt="">
        </div>
        <div class="mb-20">
          <h6>Hi, how can we help?</h6>
          <div class="text">Contact us if you have any assistance, we will contact you as soon as possible</div>
        </div>
        <a href="#" class="tf-button w-full">Contact</a>
      </div>
    </div>
  </div>
</div>